services:

  db:
    image: 'postgres:latest'
    container_name: fileUploader-db
    environment:
      - POSTGRES_DB=fileUploader
      - POSTGRES_PASSWORD=Youcode@2023
      - POSTGRES_USER=postgres
      - PGDATA=/data/postgres
    restart: always
    hostname: postgres
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - fileUploader

  cache:
    image: 'redis:latest'
    container_name: fileUploader-cache
    hostname: redis
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "6379"
    restart: always
    networks:
      - fileUploader

  api:
    container_name: fileUploader-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8082"
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - fileUploader

networks:
  fileUploader:
    attachable: true
    name: fileUploader
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: 2001:0DB9::/112

volumes:
  postgres-db:
    driver: local