server:
  port: 8082

logging:
  level:
    org.springframework.beans.factory: ERROR

redis:
  host: fileUploader-redis
  port: 6379

spring:
  cache:
    type: redis
    redis:
      time-to-live: 60000
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  docker:
    compose:
      enabled: false
      file: compose.yaml
  datasource:
    url: jdbc:postgresql://fileUploader-db:5432/fileUploader?useSSL=false
    username: postgres
    password: Youcode@2023
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
